hoist-pattern[]=*eslint*
hoist-pattern[]=*prettier*
hoist-pattern[]=*babel*
hoist-pattern[]=source-map-support
hoist-pattern[]=ts-node
strict-peer-dependencies=true
shell-emulator=true
auto-install-peers=false
ignore-workspace-root-check=true
